@charset "UTF-8";

/* Framework =================================================================================================== */
/* ============================================================================================================  */
/* ============================================================================================================  */
@import "EF-CSS-FRAMEWORK/defaults";				// Get framework defaults
@import "_vars.less";								// Override framework defaults with your own styles
@import "EF-CSS-FRAMEWORK/init";					// Load framework based on your preferences in _vars

@desktop:   ~"only screen and (min-width: 990px)"; // We use
@tablet:    ~"only screen and (min-width: 720px) and (max-width: 989px)";
@mobile:    ~"only screen and (min-width: 1px) and (max-width: 719px)";


html, body {
	width: 100%;
	height: 100%;

}

body {
	// overflow: hidden;
}

h2 {
	font-family: "Roboto Condensed", sans-serif;			
}

.videoPlayer {
	position: absolute;
	width: 100%;
	height: 100%;
	height: auto;
	width: auto;
	z-index: 2;
	top: 0;
	left: 0;
}

.header--full-screen-video {
	width: 100%;
	height: 100%;
	background: #ccc;
	position: fixed;
	overflow: hidden;
	z-index: 100;
}

.intro-text {
	z-index: 3;
	position: relative;
	top: 50%;
	transform: translateY(-50%);
	text-align: center;
}

.wrapper {
	-o-transition: background .5s ease-in-out, color .5s ease-in-out;
	-moz-transition: background .5s ease-in-out, color .5s ease-in-out;
	-webkit-transition: background .5s ease-in-out, color .5s ease-in-out;
	transition: background .5s ease-in-out, color .5s ease-in-out;
	width: 800%;
	height: 100%;
	overflow: scroll;
}

.page-section {
	float: left;
	width: 20%;
	height: 100%;
	position: relative;
	// border-right: 5px solid #000;
}

.left-col {
	position: fixed;
	top: 200px;
	left: 155px;
	width: 400px;
	opacity: 0;
	transition: opacity 0.2s;
	font-size: 1.3rem;
	z-index: 99;		
}

.page-section.active.first .left-col {
	opacity: 1;
}		

img {
/*			-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);*/
}

.left-col p {
	margin-top: 20px;
	line-height: 120%;
}

.page-section.active .left-col {
	opacity: 1;
}

.wave {
	position: fixed;
	bottom: -150px;
	left: -100px;
	width: 140%;
	z-index: 200;
	transform: translateY(100%);	
}

.wave2 {
	position: fixed;
	bottom: -60px;
	left: -100px;
	width: 140%;
}

.right-col {
	// position: fixed;
	// left: 0;
	// bottom: 0;
	// width: 100%;
	// z-index: 9;

}

.right-col img {
	position: fixed;
	right: 20px;
	bottom: -40px;
	opacity: 0;
	transition: opacity 0.2s;
	-webkit-transition: opacity 0.2s;
	z-index: 1;
	.page-section.first & {
		transform: translateY(100%);
		z-index: 150;
	} 	
}

.page-section.active .right-col img {
	opacity: 1;
}

.page-section.first.active .right-col img {
	opacity: 1;
}

.bg1 {
	background: rgb(255,238,173);
}

.bg2 {
	background: rgb(210,234,228);
}

.bg3 {
	background: rgb(250,204,187);
}

.bg5 {
	background: #EF3C66;
	color: #fff;
}

.site-navigation {
	position: fixed;
	top: 40px;
	left: 40px;
	width: 100%;
	z-index: 9;
}

.site-navigation__link-group {
	float: left;
	margin-left: 115px;
}

.site-navigation__link {
	float: left;
	margin-right: 15px;
	font-size: 16px;
	text-transform: uppercase;
	font-weight: normal;
	font-family: "Roboto Condensed", sans-serif;
	letter-spacing: 1px;
	margin-top: 5px;
	cursor: pointer;

	&:hover {
		text-decoration: underline;
	}
}

.site-navigation__logo {
	height: 36px;
	width: 64px;
	display: block;
	float: left;
	position: absolute;
}

.site-navigation__logo img {
	position: absolute;
	opacity: 0;
}

.site-navigation__logo img:first-child {
	opacity: 1;
}

.site-navigation button { display: none; }


.form-container {
	width: 500px;
	position: fixed;
	right: 90px;
	bottom: 0;
	z-index: 999999;
	display: none;
}

fieldset {
	border: none;
}

.form-container input[type="text"], 
.form-container input[type="email"],
.form-container select {
	width: 100%;
	background: none;
	border-color: #fff;
	color: #fff;
	font-size: 16px;
	text-transform: uppercase;
	padding: 15px 10px;
	-webkit-appearance: none;
}

.form-container label {
	font-weight: normal;
	letter-spacing: 1px;
}

.form-container select {
	height: 50px;
	border-radius: 0;
	border-right: 15px solid #fff;
}

.checkbox--styled {
	overflow: hidden;
}


.checkbox--styled input[type="radio"] {
	opacity: 0;
	position: absolute;
}

.checkbox--styled input[type="radio"]:checked + label {
	.button--black;
}

.checkbox--styled label {
	float: left;
	width: 50%;
	.button;
	.button--black-outline;	
	font-size: 15px;
	font-weight: normal;	
}

.dob-select select {
	float: left;
	width: 33.33333333%;
}

.form-submit {
	.button;
	.button--white;
	width: 100%;
}


