* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html,
body {
  width: 100%;
  height: 100%;
}
h2 {
  font-family: "Roboto Condensed", sans-serif;
}
.videoPlayer {
  position: absolute;
  width: 100%;
  height: 100%;
  height: auto;
  width: auto;
  z-index: 2;
  top: 0;
  left: 0;
}
.header--full-screen-video {
  width: 100%;
  height: 100%;
  background: #ccc;
  position: fixed;
  overflow: hidden;
  z-index: 100;
}
.intro-text {
  z-index: 3;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
}
.wrapper {
  -o-transition: background 0.5s ease-in-out, color 0.5s ease-in-out;
  -moz-transition: background 0.5s ease-in-out, color 0.5s ease-in-out;
  -webkit-transition: background 0.5s ease-in-out, color 0.5s ease-in-out;
  transition: background 0.5s ease-in-out, color 0.5s ease-in-out;
  width: 800%;
  height: 100%;
  overflow: scroll;
}
.page-section {
  float: left;
  width: 20%;
  height: 100%;
  position: relative;
  border-right: 5px solid #000;
}
.left-col {
  position: fixed;
  top: 200px;
  left: 155px;
  width: 400px;
  opacity: 0;
  transition: opacity 0.2s;
  font-size: 1.3rem;
  z-index: 99;
}
.page-section.active.first .left-col {
  opacity: 1;
}
img {
  /*			-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);*/

}
.left-col p {
  margin-top: 20px;
  line-height: 120%;
}
.page-section.active .left-col {
  opacity: 1;
}
.wave {
  position: fixed;
  bottom: -150px;
  left: -100px;
  width: 140%;
  z-index: 9;
}
.wave2 {
  position: fixed;
  bottom: -60px;
  left: -100px;
  width: 140%;
}
.right-col img {
  position: absolute;
  opacity: 0;
  transition: opacity 0.2s;
  -webkit-transition: opacity 0.2s;
  z-index: 1;
}
.page-section.active .right-col img {
  opacity: 1;
}
.page-section.first.active .right-col img {
  opacity: 1;
}
.bg1 {
  background: #ffeead;
}
.bg2 {
  background: #d2eae4;
}
.bg3 {
  background: #faccbb;
}
.bg5 {
  background: #EF3C66;
  color: #fff;
}
.site-navigation {
  position: fixed;
  top: 40px;
  left: 40px;
  width: 100%;
  z-index: 9;
}
.site-navigation__link-group {
  float: left;
  margin-left: 115px;
}
.site-navigation__link {
  float: left;
  margin-right: 15px;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: normal;
  font-family: "Roboto Condensed", sans-serif;
  letter-spacing: 1px;
  margin-top: 10px;
}
.site-navigation__logo {
  height: 36px;
  width: 64px;
  display: block;
  float: left;
  position: absolute;
}
.site-navigation__logo img {
  position: absolute;
  opacity: 0;
}
.site-navigation__logo img:first-child {
  opacity: 1;
}
.site-navigation button {
  display: none;
}
