@charset "UTF-8";

/* Framework =================================================================================================== */
/* ============================================================================================================  */
/* ============================================================================================================  */
@import "EF-CSS-FRAMEWORK/defaults";				// Get framework defaults
@import "_vars.less";								// Override framework defaults with your own styles
@import "EF-CSS-FRAMEWORK/init";					// Load framework based on your preferences in _vars

@desktop:   ~"only screen and (min-width: 990px)"; // We use
@tablet:    ~"only screen and (min-width: 720px) and (max-width: 989px)";
@mobile:    ~"only screen and (min-width: 1px) and (max-width: 719px)";

@zIndexTop: 1000;
@zIndexMiddle: 500;
@zIndexBottom: 100;

html, body {
	width: 100%;
	height: 100%;
}

.bg1 {
background: #fdfaa1; /* Old browsers */
background: -moz-radial-gradient(center, ellipse cover,  #fdfaa1 0%, #fa6872 100%); /* FF3.6+ */
background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#fdfaa1), color-stop(100%,#fa6872)); /* Chrome,Safari4+ */
background: -webkit-radial-gradient(center, ellipse cover,  #fdfaa1 0%,#fa6872 100%); /* Chrome10+,Safari5.1+ */
background: -o-radial-gradient(center, ellipse cover,  #fdfaa1 0%,#fa6872 100%); /* Opera 12+ */
background: -ms-radial-gradient(center, ellipse cover,  #fdfaa1 0%,#fa6872 100%); /* IE10+ */
background: radial-gradient(ellipse at center,  #fdfaa1 0%,#fa6872 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fdfaa1', endColorstr='#fa6872',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
background-attachment: fixed;
}

.bg2 {
background: #8ae7ec; /* Old browsers */
background: -moz-radial-gradient(center, ellipse cover,  #deefe5 0%, #8ae7ec 100%); /* FF3.6+ */
background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#deefe5), color-stop(100%,#8ae7ec)); /* Chrome,Safari4+ */
background: -webkit-radial-gradient(center, ellipse cover,  #deefe5 0%,#8ae7ec 100%); /* Chrome10+,Safari5.1+ */
background: -o-radial-gradient(center, ellipse cover,  #deefe5 0%,#8ae7ec 100%); /* Opera 12+ */
background: -ms-radial-gradient(center, ellipse cover,  #deefe5 0%,#8ae7ec 100%); /* IE10+ */
background: radial-gradient(ellipse at center,  #deefe5 0%,#8ae7ec 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#deefe5', endColorstr='#8ae7ec',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
background-attachment: fixed;
}

.bg3 {
	background: rgb(250,204,187);
}

.bg5 {
	background: #EF3C66;
	color: #fff;
}

/* Video screen ===================================== */
/* ================================================== */
/* ================================================== */
/* ================================================== */

.videoPlayer {
	position: absolute;
	width: 100%;
	height: 100%;
	height: auto;
	width: auto;
	z-index: 2;
	top: 0;
	left: 0;
}

.header--full-screen-video {
	width: 100%;
	height: 100%;
	position: fixed;
	overflow: hidden;
	z-index: @zIndexTop;

	.introAnimating & {
		z-index: @zIndexMiddle;
	}

	.introDone & {
		display: none;
	}

}

.header__vert-box {
	z-index: 3;
	position: relative;
	top: 50%;
	transform: translateY(-50%);
	text-align: center;
}

.header__vert-box svg {
	display: block;
	margin: 0 auto 25px;
}

.header__ef-logo {
	position: absolute;
	z-index: 2;
	top: 40px;
	left: 50%;
	transform: translateX(-50%);
}

.button--watch-video {
	.button;
	.button--white-outline;
	position: absolute;
	z-index: 2;
	bottom: 80px;
	left: 50%;
	transform: translateX(-50%);
}

.header__text--date,
.header__text--venue,
.header__text--tagline {
	text-transform: uppercase;
	font-weight: normal;
	font-family: "Roboto Condensed", sans-serif;
	letter-spacing: 4px;
	color: #fff;
	font-size: 17px;
	line-height: 100%;
}

.header__text--date {
	font-size: 62px;
	line-height: 100%;
	margin-top: -80px;
}

.header__text--venue {
	margin-top: -43px;
}

/* Content sections ================================= */
/* ================================================== */
/* ================================================== */
/* ================================================== */

/* Site navigation ================================== */
/* ================================================== */

.site-navigation {
	position: fixed;
	top: 40px;
	left: 40px;
	width: 100%;
	z-index: (@zIndexMiddle)-1;

	.introDone & {
		z-index: (@zIndexTop)+1;
	}
}

.site-navigation__link-group {
	float: left;
	margin-left: 115px;
}

.site-navigation__link {
	float: left;
	margin-right: 25px;
	font-size: 16px;
	text-transform: uppercase;
	font-weight: normal;
	font-family: "Roboto Condensed", sans-serif;
	letter-spacing: 1px;
	margin-top: 5px;
	cursor: pointer;
	text-decoration: none;

	&:hover {
		text-decoration: none;
		border-bottom: 2px solid #000;
	}

	&.active {
		font-weight: bold;
		border-bottom: 2px solid #000;
	}
}

.site-navigation__logo {
	height: 36px;
	width: 64px;
	display: block;
	float: left;
	position: absolute;
}

.site-navigation__logo svg {
	position: absolute;
	opacity: 0;
	width: 100%;
}

.site-navigation__logo svg:first-child {
	opacity: 1;
}

.site-navigation button { display: none; }


/* Waves ============================================ */
/* ================================================== */

.wave-level0,
.wave-level1,
.wave-level2,
.wave-level3 {
	position: fixed;
	bottom: 0;
	left: 0;
}

.wave-level1 {
	width: 120%;
	bottom: -350px;
	left: -140px;
	z-index: @zIndexBottom;
}

.wave-level2 {
	left: 19%;
	bottom: -320px;
	width: 100%;
	z-index: @zIndexMiddle;
}

.wave-level3 {
	bottom: -290px;
	z-index: @zIndexTop;
	left: 400px;
	right: 0;
	width: 110%;
}

/* Main Content ===================================== */
/* ================================================== */

.wrapper {
	-o-transition: background .5s ease-in-out, color .5s ease-in-out;
	-moz-transition: background .5s ease-in-out, color .5s ease-in-out;
	-webkit-transition: background .5s ease-in-out, color .5s ease-in-out;
	transition: background .5s ease-in-out, color .5s ease-in-out;
	width: 100%;
	height: 800%;
}

.page-section {
	float: left;
	width: 100%;
	height: 30%;
	position: relative;
}

.left-col {
	position: fixed;
	top: 200px;
	left: 155px;
	width: 400px;
	opacity: 0;
	transition: opacity 0.2s;
	font-size: 1.3rem;
	z-index: 99;

	.page-section.active.first & {
		opacity: 1;	
	}

	.page-section.active & {
		opacity: 1;
	}

}

.main-graphic {
	position: fixed;
	right: 20px;
	bottom: -40px;
	opacity: 0;
	transition: opacity 0.2s;
	-webkit-transition: opacity 0.2s;
	z-index: (@zIndexMiddle)+1;

	.page-section.first & {
		// transform: translateY(100%);
		opacity: 1;
	} 

	.page-section.active & {
		opacity: 1;
	}

	.page-section.first.active & {
		opacity: 1;
	}
}

/* Festival section ================================= */
/* ================================================== */

.tower-small {
	position: fixed;
	bottom: 50px;
	left: 50%;
	z-index: 99;
}    

.tower-small1 {
	left: 56%;
	bottom: 20px;
	z-index: (@zIndexMiddle)+1;
}

.tower-small2 {
	left: 48%;
	bottom: 90px;
	z-index: (@zIndexBottom)-1;
}

.tower-small3 {
	left: 27%;
	bottom: 90px;
}

.tower-small4 {
	left: 38%;
	bottom: 0;
	z-index: (@zIndexMiddle)+1;
}

.tower-small5 {
	left: 10%;
	z-index: 4;
}

.tower-small6 {
	left: 58%;
	z-index: 4;
	bottom: 110px;
}


/* Form section ===================================== */
/* ================================================== */
/* ================================================== */
/* ================================================== */

.page-section--form {
	height: 20%;
}

.form-container {
	width: 500px;
	position: absolute;
	right: 90px;
	top: 20%;
	z-index: 999999;
}

fieldset {
	border: none;
}

.form-container input[type="text"], 
.form-container input[type="email"],
.form-container select {
	width: 100%;
	background: none;
	border-color: #fff;
	color: #fff;
	font-size: 16px;
	text-transform: uppercase;
	padding: 15px 10px;
	-webkit-appearance: none;
}

.form-container label {
	font-weight: normal;
	letter-spacing: 1px;
}

.form-container select {
	height: 50px;
	border-radius: 0;
	border-right: 15px solid #fff;
}

.checkbox--styled {
	overflow: hidden;
}


.checkbox--styled input[type="radio"] {
	opacity: 0;
	position: absolute;
}

.checkbox--styled input[type="radio"]:checked + label {
	.button--black;
}

.checkbox--styled label {
	float: left;
	width: 50%;
	.button;
	.button--black-outline;	
	font-size: 15px;
	font-weight: normal;	
}

.dob-select select {
	float: left;
	width: 33.33333333%;
}

.form-submit {
	.button;
	.button--white;
	width: 100%;
}


