* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html,
body {
  width: 100%;
  height: 100%;
}
h2 {
  font-family: "Roboto Condensed", sans-serif;
}
.wrapper {
  -o-transition: background 0.5s ease-in-out, color 0.5s ease-in-out;
  -moz-transition: background 0.5s ease-in-out, color 0.5s ease-in-out;
  -webkit-transition: background 0.5s ease-in-out, color 0.5s ease-in-out;
  transition: background 0.5s ease-in-out, color 0.5s ease-in-out;
}
.wrapper {
  width: 500%;
  height: 100%;
  overflow: scroll;
}
.page-section {
  float: left;
  width: 20%;
  height: 100%;
  position: relative;
  /*border-right: 5px solid #000;*/

}
.left-col {
  position: fixed;
  top: 200px;
  left: 155px;
  width: 400px;
  opacity: 0;
  transition: opacity 0.2s;
  font-size: 1.3rem;
  z-index: 99;
}
.page-section.active.first .left-col {
  opacity: 1;
}
img {
  /*			-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);*/

}
.left-col p {
  margin-top: 20px;
  line-height: 120%;
}
.page-section.active .left-col {
  opacity: 1;
}
.wave {
  position: fixed;
  bottom: -150px;
  left: -100px;
  width: 140%;
  z-index: 9;
}
.wave2 {
  position: fixed;
  bottom: -60px;
  left: -100px;
  width: 140%;
}
.right-col {
  position: relative;
  left: 0;
  bottom: 0;
  width: 100%;
  z-index: 9;
}
.right-col img {
  position: absolute;
  opacity: 0;
  transition: opacity 0.2s;
  -webkit-transition: opacity 0.2s;
}
.page-section.active .right-col img {
  opacity: 1;
}
.page-section.first.active .right-col img {
  opacity: 1;
}
.bg1 {
  background: #ffeead;
}
.bg2 {
  background: #d2eae4;
}
.bg3 {
  background: #faccbb;
}
.bg5 {
  background: #EF3C66;
  color: #fff;
}
.site-navigation {
  position: fixed;
  top: 40px;
  left: 40px;
  width: 100%;
  z-index: 9;
}
.site-navigation__link-group {
  float: left;
  margin-left: 115px;
}
.site-navigation__link {
  float: left;
  margin-right: 15px;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: normal;
  font-family: "Roboto Condensed", sans-serif;
  letter-spacing: 1px;
  margin-top: 10px;
}
.site-navigation__logo {
  height: 36px;
  width: 64px;
  display: block;
  float: left;
  position: absolute;
}
.site-navigation__logo img {
  /*opacity: 0;*/

  position: absolute;
  opacity: 0;
}
.site-navigation__logo img:first-child {
  opacity: 1;
}
.site-navigation button {
  display: none;
}
.logo-nr1 {
  transition-origin: 50% 50%;
}
.logo-nr2 {
  transition-origin: 50% 50%;
  margin-top: 6px;
}
.site-navigation__logo.animate1 .logo-nr1 {
  -webkit-animation-name: anim1;
  -webkit-animation-duration: 0.35s;
  -webkit-animation-delay: 0.35s;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-fill-mode: forwards;
}
.site-navigation__logo.animate1 .logo-nr2 {
  -webkit-animation-name: anim2;
  -webkit-animation-duration: 0.7s;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-fill-mode: forwards;
}
@-webkit-keyframes anim1 {
  from {
    transform: translateY(0%);
  }
  to {
    transform: translateY(50%);
  }
}
@-webkit-keyframes anim2 {
  from {
    transform: rotate(0);
    opacity: 0;
  }
  50% {
    transform: rotate(180deg);
    opacity: 1;
  }
  to {
    transform: rotate(180deg) translateY(50%);
    opacity: 1;
  }
}
.site-navigation__logo.animate2 .logo-nr1 {
  transform: translateY(50%);
  -webkit-animation-name: anim3;
  -webkit-animation-duration: 0.35s;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-fill-mode: forwards;
}
/*		.site-navigation__logo.animate2 .logo-nr2 {
	-webkit-animation-name: anim4;
	-webkit-animation-duration: 0.7s;
	-webkit-animation-iteration-count: 1;
	-webkit-animation-fill-mode: forwards;
}*/
@-webkit-keyframes anim3 {
  from {
    transform: translateY(50%);
    opacity: 1;
  }
  to {
    transform: rotate(90deg);
    opacity: 1;
  }
}
@-webkit-keyframes anim4 {
  from {
    transform: rotate(180deg);
    opacity: 1;
  }
  to {
    transform: rotate(-90deg);
    opacity: 1;
  }
}
