@charset "UTF-8";
/* Framework =================================================================================================== */
/* ============================================================================================================  */
/* ============================================================================================================  */
/*------------------------------------*\
    1.$DEFAULTS
\*------------------------------------*/
/*------------------------------------*\
    2.$BASE
\*------------------------------------*/
/*------------------------------------*\
    3.$TYPOGRAPHY
\*------------------------------------*/
/*------------------------------------*\
    4.$OBJECTS
\*------------------------------------*/
/*------------------------------------*\
    5.$DESIGN EXTENSIONS
\*------------------------------------*/
/*------------------------------------*\
    6.$FRAMEWORK
\*------------------------------------*/
/*------------------------------------*\
    1.$DEFAULTS
\*------------------------------------*/
/*------------------------------------*\
    2.$BASE
\*------------------------------------*/
/*------------------------------------*\
    3.$TYPOGRAPHY
\*------------------------------------*/
/*------------------------------------*\
    4.$OBJECTS
\*------------------------------------*/
/*------------------------------------*\
    5.$DESIGN EXTENSIONS
\*------------------------------------*/
/*------------------------------------*\
    $IMPORTS
\*------------------------------------*/
/**
 * Base styles; unclassed HTML elements etc.
 */
/*------------------------------------*\
    $MIXINS
\*------------------------------------*/
/**
 * Create a fully formed type style (sizing and vertical rhythm) by passing in a
 * single value, e.g.:
 *
   `.font-size(10);`
 *
 * Thanks to @redclov3r for the `line-height` Sass:
 * twitter.com/redclov3r/status/250301539321798657
 */
/**
 * CSS arrows!!! But... before you read on, you might want to grab a coffee...
 *
 * This mixin creates a CSS arrow on a given element. We can have the arrow
 * appear in one of 12 locations, thus:
 *
 *       01    02    03
 *    +------------------+
 * 12 |                  | 04
 *    |                  |
 * 11 |                  | 05
 *    |                  |
 * 10 |                  | 06
 *    +------------------+
 *       09    08    07
 *
 * You pass this position in along with a desired arrow color and optional
 * border color, for example:
 *
 * `.arrow(top, left, red)`
 *
 * for just a single, red arrow, or:
 *
 * `.arrow(bottom, center, red, black)`
 *
 * which will create a red triangle with a black border which sits at the bottom
 * center of the element. Call the mixin thus:
 *
   .foo{
       background-color:#BADA55;
       border:1px solid #ACE;
       .arrow(top, left, #BADA55, #ACE);
   }
 *
 */
/**
 * Create global or selective box sizing rules based on the value passed
 *
 */
/*! normalize.css v2.1.0 | MIT License | git.io/normalize */
/* ==========================================================================
   HTML5 display definitions
   ========================================================================== */
/*
 * Correct `block` display not defined in IE 8/9.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}
/*
 * Correct `inline-block` display not defined in IE 8/9.
 */
audio,
canvas,
video {
  display: inline-block;
}
/*
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0;
}
/*
 * Address styling not present in IE 8/9.
 */
[hidden] {
  display: none;
}
/* ==========================================================================
   Base
   ========================================================================== */
/*
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
  font-family: sans-serif;
  /* 1 */

  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  /* 2 */

}
/*
 * Remove default margin.
 */
body {
  margin: 0;
}
/* ==========================================================================
   Links
   ========================================================================== */
/*
 * Address `outline` inconsistency between Chrome and other browsers.
 */
a:focus {
  outline: thin dotted;
}
/*
 * Improve readability when focused and also mouse hovered in all browsers.
 */
a:active,
a:hover {
  outline: 0;
}
/* ==========================================================================
   Typography
   ========================================================================== */
/*
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts  in Firefox 4+, Safari 5, and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
/*
 * Address styling not present in IE 8/9, Safari 5, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted;
}
/*
 * Address style set to `bolder` in Firefox 4+, Safari 5, and Chrome.
 */
b,
strong {
  font-weight: bold;
}
/*
 * Address styling not present in Safari 5 and Chrome.
 */
dfn {
  font-style: italic;
}
/*
 * Address differences between Firefox and other browsers.
 */
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}
/*
 * Address styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000;
}
/*
 * Correct font family set oddly in Safari 5 and Chrome.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em;
}
/*
 * Improve readability of pre-formatted text in all browsers.
 */
pre {
  white-space: pre-wrap;
}
/*
 * Set consistent quote types.
 */
q {
  quotes: "\201C" "\201D" "\2018" "\2019";
}
/*
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%;
}
/*
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
/* ==========================================================================
   Embedded content
   ========================================================================== */
/*
 * Remove border when inside `a` element in IE 8/9.
 */
img {
  border: 0;
}
/*
 * Correct overflow displayed oddly in IE 9.
 */
svg:not(:root) {
  overflow: hidden;
}
/* ==========================================================================
   Figures
   ========================================================================== */
/*
 * Address margin not present in IE 8/9 and Safari 5.
 */
figure {
  margin: 0;
}
/* ==========================================================================
   Forms
   ========================================================================== */
/*
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
/*
 * 1. Correct `color not being inherited in IE 8/9.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
legend {
  border: 0;
  /* 1 */

  padding: 0;
  /* 2 */

}
/*
 * 1. Correct font family not being inherited in all browsers.
 * 2. Correct font size not being inherited in all browsers.
 * 3. Address margins set differently in Firefox 4+, Safari 5, and Chrome
 */
button,
input,
select,
textarea {
  font-family: inherit;
  /* 1 */

  font-size: 100%;
  /* 2 */

  margin: 0;
  /* 3 */

}
/*
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
button,
input {
  line-height: normal;
}
/*
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Chrome, Safari 5+, and IE 8+.
 * Correct `select` style inheritance in Firefox 4+ and Opera.
 */
button,
select {
  text-transform: none;
}
/*
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */

  cursor: pointer;
  /* 3 */

}
/*
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default;
}
/*
 * 1. Address box sizing set to `content-box` in IE 8/9.
 * 2. Remove excess padding in IE 8/9.
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */

  padding: 0;
  /* 2 */

}
/*
 * 1. Address `appearance` set to `searchfield` in Safari 5 and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari 5 and Chrome
 *    (include `-moz` to future-proof).
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */

  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */

  box-sizing: content-box;
}
/*
 * Remove inner padding and search cancel button in Safari 5 and Chrome
 * on OS X.
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
/*
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
/*
 * 1. Remove default vertical scrollbar in IE 8/9.
 * 2. Improve readability and alignment in all browsers.
 */
textarea {
  overflow: auto;
  /* 1 */

  vertical-align: top;
  /* 2 */

}
/* ==========================================================================
   Tables
   ========================================================================== */
/*
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/*------------------------------------*\
    $MAIN
\*------------------------------------*/
html {
  font: 1em / 1.625 "Helvetica Neue", Helvetica, Arial, sans-serif;
  overflow-y: scroll;
  min-height: 100%;
}
/*------------------------------------*\
    $RESET
\*------------------------------------*/
/**
     * Let’s make the box model all nice, shall we...?
     */
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  background: #ffffff;
  color: #000000;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
dl,
dd,
ol,
ul,
form,
fieldset,
legend,
table,
th,
td,
caption,
hr {
  margin: 0;
  padding: 0;
}
/**
 * Give a help cursor to elements that give extra info on `:hover`.
 */
abbr[title],
dfn[title] {
  cursor: help;
}
/**
 * Remove underlines from potentially troublesome elements.
 */
u,
ins {
  text-decoration: none;
}
/**
 * Apply faux underline via `border-bottom`.
 */
ins {
  border-bottom: 1px solid;
}
/**
 * So that `alt` text is visually offset if images don’t load.
 */
img {
  font-style: italic;
  vertical-align: middle;
}
/**
 * Give form elements some cursor interactions...
 */
label,
input,
textarea,
button,
select,
option {
  cursor: pointer;
}
.text-input:active,
.text-input:focus,
textarea:active,
textarea:focus {
  cursor: text;
  outline: none;
}
/**
 * Links
 */
a {
  color: #202020;
  text-decoration: none;
}
a:hover,
a:focus {
  text-decoration: underline;
}
/*------------------------------------*\
    $CLEARFIX
\*------------------------------------*/
/**
 * Micro clearfix, as per: css-101.org/articles/clearfix/latest-new-clearfix-so-far.php
 * Extend the clearfix class with Sass to avoid the `.cf` class appearing over
 * and over in your markup.
 */
.cf:after,
.nav:after,
.media:after {
  content: "";
  display: table;
  clear: both;
}
/*------------------------------------*\
    $SHARED
\*------------------------------------*/
/**
 * Where `margin-bottom` is concerned, this value will be the same as the
 * base line-height. This allows us to keep a consistent vertical rhythm.
 * As per: csswizardry.com/2012/06/single-direction-margin-declarations
 */
/**
 * Base elements
 */
h1,
h2,
h3,
h4,
h5,
h6,
hgroup,
ul,
ol,
dl,
blockquote,
p,
address,
table,
fieldset,
figure,
pre,
.media {
  margin-bottom: 26px;
  margin-bottom: 1.625rem;
}
/**
 * `hr` elements only take up a few pixels, so we need to give them special
 * treatment regarding vertical rhythm.
 */
hr {
  margin-bottom: 24px;
  margin-bottom: 1.5rem;
}
/*------------------------------------*\
    $HEADINGS
\*------------------------------------*/
h1,
.alpha {
  font-size: 50px;
  font-size: 3.125rem;
  line-height: 1.04;
  font-family: "Roboto Condensed", sans-serif;
}
h2,
.beta {
  font-size: 40px;
  font-size: 2.5rem;
  line-height: 1.3;
  font-family: "Roboto Condensed", sans-serif;
}
h3,
.gamma {
  font-size: 30px;
  font-size: 1.875rem;
  line-height: 1.7333333333333334;
  font-family: "Roboto Condensed", sans-serif;
}
h4,
.delta {
  font-size: 20px;
  font-size: 1.25rem;
  line-height: 1.3;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
h5,
.epsilon {
  font-size: 16px;
  font-size: 1rem;
  line-height: 1.625;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
h6,
.zeta {
  font-size: 16px;
  font-size: 1rem;
  line-height: 1.625;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.giga {
  font-size: 96px;
  font-size: 6rem;
}
.mega {
  font-size: 60px;
  font-size: 3.75rem;
}
.kilo {
  font-size: 50px;
  font-size: 3.125rem;
}
.milli {
  font-size: 12px;
  font-size: 0.75rem;
}
.micro {
  font-size: 10px;
  font-size: 0.625rem;
}
/*------------------------------------*\
    $TABLES
\*------------------------------------*/
table {
  width: 100%;
}
th,
td {
  padding: 6.5px;
  text-align: left;
}
/*------------------------------------*\
    $LISTS
\*------------------------------------*/
/**
 * Remove vertical spacing from nested lists.
 */
li > ul,
li > ol {
  margin-bottom: 0;
}
/**
 * Where `margin-left` is concerned we want to try and indent certain elements
 * by a consistent amount. Define that amount once, here.
 */
ul,
ol,
dd {
  margin-left: 52px;
  margin-left: 3.25rem;
}
/**
 * Objects and abstractions
 */
/*------------------------------------*\
    $BUTTONS.CSS
\*------------------------------------*/
.button {
  display: inline-block;
  vertical-align: middle;
  white-space: nowrap;
  font-family: inherit;
  font-size: 100%;
  cursor: pointer;
  border: none;
  margin: 0;
  padding-top: 0;
  padding-bottom: 0;
  line-height: 2.3;
  padding-right: 1em;
  padding-left: 1em;
  border-radius: 4px;
}
.button,
.button:hover {
  text-decoration: none;
  /* [9] */

}
.button:active,
.button:focus {
  outline: none;
}
.button--small {
  padding-right: 0.5em;
  padding-left: 0.5em;
  line-height: 2;
}
.button--large {
  padding-right: 1.5em;
  padding-left: 1.5em;
  line-height: 4;
}
.button--huge {
  padding-right: 2em;
  padding-left: 2em;
  line-height: 5;
}
.button--full {
  width: 100%;
  padding-right: 0;
  padding-left: 0;
  text-align: center;
}
/*------------------------------------*\
    $HELPER
\*------------------------------------*/
/**
 * Add/remove floats
 */
.float--right {
  float: right!important;
}
.float--left {
  float: left !important;
}
.float--none {
  float: none !important;
}
/**
 * Text alignment
 */
.txtL,
.text--left {
  text-align: left  !important;
}
.txtC,
.text--center {
  text-align: center!important;
}
.txtR,
.text--right {
  text-align: right !important;
}
/**
 * Font weights
 */
.weight--light {
  font-weight: 300!important;
}
.weight--normal {
  font-weight: 400!important;
}
.weight--semibold {
  font-weight: 600!important;
}
/**
 * Add/remove margins
 */
.push {
  margin: 26px !important;
}
.push--top {
  margin-top: 26px !important;
}
.push--right {
  margin-right: 26px !important;
}
.push--bottom {
  margin-bottom: 26px !important;
}
.push--left {
  margin-left: 26px !important;
}
.push--ends {
  margin-top: 26px !important;
  margin-bottom: 26px !important;
}
.push--sides {
  margin-right: 26px !important;
  margin-left: 26px !important;
}
.push-half {
  margin: 13px !important;
}
.push-half--top {
  margin-top: 13px !important;
}
.push-half--right {
  margin-right: 13px !important;
}
.push-half--bottom {
  margin-bottom: 13px !important;
}
.push-half--left {
  margin-left: 13px !important;
}
.push-half--ends {
  margin-top: 13px !important;
  margin-bottom: 13px !important;
}
.push-half--sides {
  margin-right: 13px !important;
  margin-left: 13px !important;
}
.flush {
  margin: 0!important;
}
.flush--top {
  margin-top: 0!important;
}
.flush--right {
  margin-right: 0!important;
}
.flush--bottom {
  margin-bottom: 0!important;
}
.flush--left {
  margin-left: 0!important;
}
.flush--ends {
  margin-top: 0!important;
  margin-bottom: 0!important;
}
.flush--sides {
  margin-right: 0!important;
  margin-left: 0!important;
}
/**
 * Add/remove paddings
 */
.soft {
  padding: 26px !important;
}
.soft--top {
  padding-top: 26px !important;
}
.soft--right {
  padding-right: 26px !important;
}
.soft--bottom {
  padding-bottom: 26px !important;
}
.soft--left {
  padding-left: 26px !important;
}
.soft--ends {
  padding-top: 26px !important;
  padding-bottom: 26px !important;
}
.soft--sides {
  padding-right: 26px !important;
  padding-left: 26px !important;
}
.soft-half {
  padding: 13px !important;
}
.soft-half--top {
  padding-top: 13px !important;
}
.soft-half--right {
  padding-right: 13px !important;
}
.soft-half--bottom {
  padding-bottom: 13px !important;
}
.soft-half--left {
  padding-left: 13px !important;
}
.soft-half--ends {
  padding-top: 13px !important;
  padding-bottom: 13px !important;
}
.soft-half--sides {
  padding-right: 13px !important;
  padding-left: 13px !important;
}
.hard {
  padding: 0!important;
}
.hard--top {
  padding-top: 0!important;
}
.hard--right {
  padding-right: 0!important;
}
.hard--bottom {
  padding-bottom: 0!important;
}
.hard--left {
  padding-left: 0!important;
}
.hard--ends {
  padding-top: 0!important;
  padding-bottom: 0!important;
}
.hard--sides {
  padding-right: 0!important;
  padding-left: 0!important;
}
/*
CSS Name:		CSS form 
Description:	form
Author:			Yacine Belarbi
Created:		2012-04-11
*/
/* ------- DO NOT MODIFY THIS FILE, INSTEAD OVERRIDE PROPERTYS IN YOUR PAGE SPECIFIC STYLESHEET OR CREATE YOUR OWN CSS FILE ------- */
legend,
label {
  font-size: 93%;
  font-weight: bold;
  display: block;
  padding-top: 3px;
}
label[class="required"]:after {
  content: "*";
  color: #E27976;
}
input[type="text"],
input[type="email"],
input[type="url"],
input[type="number"],
textarea {
  width: 100%;
  padding: 4px;
  border: 1px solid #cccccc;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
  -moz-transition: border linear 0.2s, box-shadow linear 0.2s;
  -ms-transition: border linear 0.2s, box-shadow linear 0.2s;
  -o-transition: border linear 0.2s, box-shadow linear 0.2s;
  transition: border linear 0.2s, box-shadow linear 0.2s;
}
input:focus,
textarea:focus {
  border-color: rgba(82, 168, 236, 0.8);
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
  outline: 0;
  outline: thin dotted 1px;
}
input[type="checkbox"],
input[type="radio"] {
  width: auto;
  height: auto;
  padding: 0;
  margin: 3px 0;
  line-height: normal;
  cursor: pointer;
  background-color: transparent;
  border: 0 1px;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
input[type="radio"]:focus,
input[type="checkbox"]:focus,
select:focus {
  outline: thin dotted #333;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.radio,
.checkbox {
  min-height: 22px;
  padding-left: 18px;
  font-weight: normal;
}
.radio span,
.checkbox span {
  line-height: 22px;
}
.radio input[type="radio"],
.checkbox input[type="checkbox"] {
  float: left;
  margin-left: -18px;
}
select {
  padding: 4px;
  border: 1px solid #cccccc;
  height: 26px;
  display: block;
}
select.fullwidth {
  width: 100%;
}
button {
  font-weight: bold;
}
/* Disabled input fields */
input[disabled],
select[disabled],
textarea[disabled],
input[readonly],
select[readonly],
textarea[readonly] {
  cursor: not-allowed;
  background-color: #EEE;
  border-color: #DDD;
}
/* Inline input fields */
input[type="text"].inline,
input[type="email"].inline,
input[type="url"].inline,
input[type="number"].inline,
textarea.inline,
select.inline {
  width: auto;
  margin: 0 18px 0 0;
}
select.inline {
  display: inline;
}
label.inline,
legend.inline {
  display: inline-block;
  vertical-align: middle;
  margin: 0 18px 0 0;
}
input[type="text"].valid,
input[type="email"].valid,
input[type="url"].valid,
input[type="number"].valid,
textarea.valid {
  color: #000;
}
/* Form error */
input[type="text"].error,
input[type="email"].error,
input[type="url"].error,
input[type="number"].error,
select.error,
textarea.error {
  background: #FEDBDB;
  border-color: #FDC4C4;
  box-shadow: none;
}
/*
CSS Name:   CSS grids. 
Description:  Can be used to break any space into fractions, they can be nested.
Notes:      This is a EF version of the original OOCSS grids. 
URL:      http://oocss.org/grids_docs.html
Author:     Yacine Belarbi
Created:    2012-04-11
*/
/* ------- DO NOT MODIFY THIS FILE, INSTEAD OVERRIDE PROPERTYS IN YOUR PAGE SPECIFIC STYLESHEET OR CREATE YOUR OWN CSS FILE ------- */
/* = GRIDS
---------------------------------------------------*/
.line:after {
  clear: both;
  display: block;
  visibility: hidden;
  overflow: hidden;
  height: 0 !important;
  line-height: 0;
  font-size: xx-large;
  content: " x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x ";
}
.row:before,
.row:after {
  content: "";
  display: table;
}
.row:after {
  clear: both;
}
.row {
  *zoom: 1;
  margin: 0 -15px;
}
.unit {
  float: left;
  position: relative;
  min-height: 1px;
}
.size1of1 {
  float: none;
}
.size1of2 {
  width: 50%;
}
.size1of3 {
  width: 33.33333%;
}
.size2of3 {
  width: 66.66666%;
}
.size1of4 {
  width: 25%;
}
.size3of4 {
  width: 75%;
}
.size1of5 {
  width: 20%;
}
.size2of5 {
  width: 40%;
}
.size3of5 {
  width: 60%;
}
.size4of5 {
  width: 80%;
}
.size1of6 {
  width: 16.66667%;
}
.size5of6 {
  width: 83.333333%;
}
.ie7 .lastUnit {
  display: table-cell;
  float: none;
  width: auto;
  *display: block;
  *zoom: 1;
  _position: relative;
  _left: -3px;
  _margin-right: -3px;
}
/* 12column grid */
.span1 {
  width: 8.33%;
}
.span2 {
  width: 16.66%;
}
.span3 {
  width: 25%;
}
.span4 {
  width: 33.33%;
}
.span5 {
  width: 41.66%;
}
.span6 {
  width: 50%;
}
.span7 {
  width: 58.33%;
}
.span8 {
  width: 66.66%;
}
.span9 {
  width: 75%;
}
.span10 {
  width: 83.33%;
}
.span11 {
  width: 91.66%;
}
.span12 {
  width: 100%;
}
.no-boxsizing .unit-inner,
.unit {
  padding: 0 15px;
}
.no-boxsizing .unit {
  padding: 0;
}
/* ---- prefix ---- */
.prefix1of2 {
  margin-left: 50%;
}
.prefix1of3 {
  margin-left: 33.333333%;
}
.prefix2of3 {
  margin-left: 66.666666%;
}
.prefix1of4 {
  margin-left: 25%;
}
.prefix3of4 {
  margin-left: 75%;
}
.prefix1of5 {
  margin-left: 20%;
}
.prefix2of5 {
  margin-left: 40%;
}
.prefix3of5 {
  margin-left: 60%;
}
.prefix4of5 {
  margin-left: 80%;
}
.prefix1of6 {
  margin-left: 16.666667%;
}
.prefix5of6 {
  margin-left: 83.333333%;
}
/* ---- suffix ---- */
.suffix1of2 {
  margin-right: 50%;
}
.suffix1of3 {
  margin-right: 33.333333%;
}
.suffix2of3 {
  margin-right: 66.666666%;
}
.suffix1of4 {
  margin-right: 25%;
}
.suffix3of4 {
  margin-right: 75%;
}
.suffix1of5 {
  margin-right: 20%;
}
.suffix2of5 {
  margin-right: 40%;
}
.suffix3of5 {
  margin-right: 60%;
}
.suffix4of5 {
  margin-right: 80%;
}
.suffix1of6 {
  margin-right: 16.666667%;
}
.suffix5of6 {
  margin-right: 83.333333%;
}
/* ---- push ---- */
.push1of2 {
  left: 50%;
}
.push1of3 {
  left: 33.333333%;
}
.push2of3 {
  left: 66.666666%;
}
.push1of4 {
  left: 25%;
}
.push3of4 {
  left: 75%;
}
.push1of5 {
  left: 20%;
}
.push2of5 {
  left: 40%;
}
.push3of5 {
  left: 60%;
}
.push4of5 {
  left: 80%;
}
.push1of6 {
  left: 16.666667%;
}
.push5of6 {
  left: 83.333333%;
}
/* ---- pull ---- */
.pull1of2 {
  left: -50%;
}
.pull1of3 {
  left: -33.333333%;
}
.pull2of3 {
  left: -66.666666%;
}
.pull1of4 {
  left: -25%;
}
.pull3of4 {
  left: -75%;
}
.pull1of5 {
  left: -20%;
}
.pull2of5 {
  left: -40%;
}
.pull3of5 {
  left: -60%;
}
.pull4of5 {
  left: -80%;
}
.pull1of6 {
  left: -16.666667%;
}
.pull5of6 {
  left: -83.333333%;
}
/*------------------------------------*\
    $MEDIA
\*------------------------------------*/
/**
 * Place any image- and text-like content side-by-side, as per:
 * stubbornella.org/content/2010/06/25/the-media-object-saves-hundreds-of-lines-of-code
 * E.g.:
 *
   <div class=media>
       <img src=http://placekitten.com/200/300 alt="" class=media__img>
       <p class=media__body>Lorem ipsum dolor sit amet, consectetur adipisicing elit,
       sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
   </div>
 *
 * Demo: jsfiddle.net/inuitcss/cf4Qs
 *
 */
.media {
  display: block;
  /* @extend .cf; */

}
.media__img,
.media .img {
  float: left;
  margin-right: 26px;
}
/**
     * Reversed image location (right instead of left).
     */
.media__img--rev {
  float: right;
  margin-left: 26px;
}
.media__img img,
.media__img--rev img {
  display: block;
}
.media__body,
.media .bd {
  overflow: hidden;
}
.media__body,
.media__body > :last-child,
.media .bd,
.media .bd > :last-child {
  margin-bottom: 0;
}
/**
 * Design includes
 */
/*------------------------------------*\
    $GUD 3.1
\*------------------------------------*/
@font-face {
  font-family: 'fontello';
  src: url('EF-CSS-FRAMEWORK/extensions/design/fontello/fontello.eot?93955932');
  src: url('EF-CSS-FRAMEWORK/extensions/design/fontello/fontello.eot?93955932#iefix') format('embedded-opentype'), url('EF-CSS-FRAMEWORK/extensions/design/fontello/fontello.woff?93955932') format('woff'), url('EF-CSS-FRAMEWORK/extensions/design/fontello/fontello.ttf?93955932') format('truetype'), url('EF-CSS-FRAMEWORK/extensions/design/fontello/fontello.svg?93955932#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?93955932#fontello') format('svg');
  }
}
*/
[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */

  /* For safety - reset parent styles, that can break glyph codes*/

  font-variant: normal;
  text-transform: none;
  /* fix buttons height, for twitter bootstrap */

  line-height: 1em;
  /* Animation center compensation - margins should be symmetric */

  /* remove if not needed */

  margin-left: .2em;
  /* you can be more comfortable with increased icons size */

  /* font-size: 120%; */

  /* Uncomment for 3D effect */

  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */

}
.icon-youtube:before {
  content: '\e800';
}
/* '' */
.icon-logo-db:before {
  content: '\e919';
}
/* '' */
.icon-note-beamed:before {
  content: '\e802';
}
/* '' */
.icon-music:before {
  content: '\e803';
}
/* '' */
.icon-search:before {
  content: '\e805';
}
/* '' */
.icon-flashlight:before {
  content: '\e806';
}
/* '' */
.icon-mail:before {
  content: '\e804';
}
/* '' */
.icon-heart:before {
  content: '\e807';
}
/* '' */
.icon-heart-empty:before {
  content: '\e808';
}
/* '' */
.icon-star:before {
  content: '\e809';
}
/* '' */
.icon-star-empty:before {
  content: '\e80a';
}
/* '' */
.icon-user:before {
  content: '\e80b';
}
/* '' */
.icon-users:before {
  content: '\e80c';
}
/* '' */
.icon-user-add:before {
  content: '\e80d';
}
/* '' */
.icon-video:before {
  content: '\e80e';
}
/* '' */
.icon-picture:before {
  content: '\e80f';
}
/* '' */
.icon-camera:before {
  content: '\e810';
}
/* '' */
.icon-layout:before {
  content: '\e811';
}
/* '' */
.icon-menu:before {
  content: '\e812';
}
/* '' */
.icon-check:before {
  content: '\e813';
}
/* '' */
.icon-cancel:before {
  content: '\e814';
}
/* '' */
.icon-cancel-circled:before {
  content: '\e827';
}
/* '' */
.icon-cancel-squared:before {
  content: '\e829';
}
/* '' */
.icon-plus:before {
  content: '\e826';
}
/* '' */
.icon-plus-circled:before {
  content: '\e825';
}
/* '' */
.icon-plus-squared:before {
  content: '\e824';
}
/* '' */
.icon-minus:before {
  content: '\e823';
}
/* '' */
.icon-minus-circled:before {
  content: '\e822';
}
/* '' */
.icon-minus-squared:before {
  content: '\e821';
}
/* '' */
.icon-help:before {
  content: '\e820';
}
/* '' */
.icon-help-circled:before {
  content: '\e81f';
}
/* '' */
.icon-info:before {
  content: '\e81e';
}
/* '' */
.icon-info-circled:before {
  content: '\e81d';
}
/* '' */
.icon-back:before {
  content: '\e81c';
}
/* '' */
.icon-home:before {
  content: '\e81b';
}
/* '' */
.icon-link:before {
  content: '\e81a';
}
/* '' */
.icon-attach:before {
  content: '\e819';
}
/* '' */
.icon-lock:before {
  content: '\e818';
}
/* '' */
.icon-lock-open:before {
  content: '\e817';
}
/* '' */
.icon-eye:before {
  content: '\e816';
}
/* '' */
.icon-tag:before {
  content: '\e815';
}
/* '' */
.icon-bookmark:before {
  content: '\e828';
}
/* '' */
.icon-bookmarks:before {
  content: '\e82c';
}
/* '' */
.icon-flag:before {
  content: '\e82a';
}
/* '' */
.icon-thumbs-up:before {
  content: '\e82d';
}
/* '' */
.icon-thumbs-down:before {
  content: '\e82b';
}
/* '' */
.icon-download:before {
  content: '\e82e';
}
/* '' */
.icon-upload:before {
  content: '\e82f';
}
/* '' */
.icon-upload-cloud:before {
  content: '\e830';
}
/* '' */
.icon-reply:before {
  content: '\e835';
}
/* '' */
.icon-reply-all:before {
  content: '\e831';
}
/* '' */
.icon-forward:before {
  content: '\e832';
}
/* '' */
.icon-quote:before {
  content: '\e833';
}
/* '' */
.icon-code:before {
  content: '\e834';
}
/* '' */
.icon-export:before {
  content: '\e836';
}
/* '' */
.icon-pencil:before {
  content: '\e837';
}
/* '' */
.icon-feather:before {
  content: '\e838';
}
/* '' */
.icon-print:before {
  content: '\e839';
}
/* '' */
.icon-retweet:before {
  content: '\e83a';
}
/* '' */
.icon-keyboard:before {
  content: '\e83b';
}
/* '' */
.icon-comment:before {
  content: '\e83c';
}
/* '' */
.icon-chat:before {
  content: '\e85a';
}
/* '' */
.icon-attention:before {
  content: '\e857';
}
/* '' */
.icon-alert:before {
  content: '\e856';
}
/* '' */
.icon-vcard:before {
  content: '\e853';
}
/* '' */
.icon-address:before {
  content: '\e852';
}
/* '' */
.icon-location:before {
  content: '\e84f';
}
/* '' */
.icon-map:before {
  content: '\e84e';
}
/* '' */
.icon-direction:before {
  content: '\e84b';
}
/* '' */
.icon-compass:before {
  content: '\e84a';
}
/* '' */
.icon-cup:before {
  content: '\e845';
}
/* '' */
.icon-trash:before {
  content: '\e846';
}
/* '' */
.icon-doc:before {
  content: '\e844';
}
/* '' */
.icon-docs:before {
  content: '\e843';
}
/* '' */
.icon-doc-landscape:before {
  content: '\e842';
}
/* '' */
.icon-doc-text:before {
  content: '\e841';
}
/* '' */
.icon-doc-text-inv:before {
  content: '\e840';
}
/* '' */
.icon-newspaper:before {
  content: '\e83f';
}
/* '' */
.icon-book-open:before {
  content: '\e83e';
}
/* '' */
.icon-book:before {
  content: '\e83d';
}
/* '' */
.icon-folder:before {
  content: '\e85e';
}
/* '' */
.icon-archive:before {
  content: '\e859';
}
/* '' */
.icon-box:before {
  content: '\e858';
}
/* '' */
.icon-rss:before {
  content: '\e855';
}
/* '' */
.icon-phone:before {
  content: '\e854';
}
/* '' */
.icon-cog:before {
  content: '\e851';
}
/* '' */
.icon-tools:before {
  content: '\e850';
}
/* '' */
.icon-share:before {
  content: '\e84d';
}
/* '' */
.icon-shareable:before {
  content: '\e84c';
}
/* '' */
.icon-basket:before {
  content: '\e849';
}
/* '' */
.icon-bag:before {
  content: '\e848';
}
/* '' */
.icon-calendar:before {
  content: '\e847';
}
/* '' */
.icon-login:before {
  content: '\e869';
}
/* '' */
.icon-logout:before {
  content: '\e86a';
}
/* '' */
.icon-mic:before {
  content: '\e86d';
}
/* '' */
.icon-mute:before {
  content: '\e86e';
}
/* '' */
.icon-sound:before {
  content: '\e870';
}
/* '' */
.icon-volume:before {
  content: '\e874';
}
/* '' */
.icon-clock:before {
  content: '\e873';
}
/* '' */
.icon-hourglass:before {
  content: '\e875';
}
/* '' */
.icon-lamp:before {
  content: '\e85b';
}
/* '' */
.icon-light-down:before {
  content: '\e85c';
}
/* '' */
.icon-light-up:before {
  content: '\e85d';
}
/* '' */
.icon-adjust:before {
  content: '\e85f';
}
/* '' */
.icon-block:before {
  content: '\e860';
}
/* '' */
.icon-resize-full:before {
  content: '\e861';
}
/* '' */
.icon-resize-small:before {
  content: '\e862';
}
/* '' */
.icon-popup:before {
  content: '\e863';
}
/* '' */
.icon-publish:before {
  content: '\e864';
}
/* '' */
.icon-window:before {
  content: '\e865';
}
/* '' */
.icon-arrow-combo:before {
  content: '\e866';
}
/* '' */
.icon-down-circled:before {
  content: '\e867';
}
/* '' */
.icon-left-circled:before {
  content: '\e868';
}
/* '' */
.icon-right-circled:before {
  content: '\e86b';
}
/* '' */
.icon-up-circled:before {
  content: '\e86c';
}
/* '' */
.icon-down-open:before {
  content: '\e871';
}
/* '' */
.icon-left-open:before {
  content: '\e86f';
}
/* '' */
.icon-right-open:before {
  content: '\e872';
}
/* '' */
.icon-up-open:before {
  content: '\e877';
}
/* '' */
.icon-down-open-mini:before {
  content: '\e876';
}
/* '' */
.icon-left-open-mini:before {
  content: '\e88b';
}
/* '' */
.icon-right-open-mini:before {
  content: '\e88a';
}
/* '' */
.icon-up-open-mini:before {
  content: '\e889';
}
/* '' */
.icon-down-open-big:before {
  content: '\e888';
}
/* '' */
.icon-left-open-big:before {
  content: '\e887';
}
/* '' */
.icon-right-open-big:before {
  content: '\e886';
}
/* '' */
.icon-up-open-big:before {
  content: '\e885';
}
/* '' */
.icon-down:before {
  content: '\e884';
}
/* '' */
.icon-left:before {
  content: '\e883';
}
/* '' */
.icon-right:before {
  content: '\e882';
}
/* '' */
.icon-up:before {
  content: '\e881';
}
/* '' */
.icon-down-dir:before {
  content: '\e880';
}
/* '' */
.icon-left-dir:before {
  content: '\e87e';
}
/* '' */
.icon-right-dir:before {
  content: '\e87f';
}
/* '' */
.icon-up-dir:before {
  content: '\e87d';
}
/* '' */
.icon-down-bold:before {
  content: '\e87c';
}
/* '' */
.icon-left-bold:before {
  content: '\e87b';
}
/* '' */
.icon-right-bold:before {
  content: '\e87a';
}
/* '' */
.icon-up-bold:before {
  content: '\e879';
}
/* '' */
.icon-down-thin:before {
  content: '\e878';
}
/* '' */
.icon-left-thin:before {
  content: '\e88c';
}
/* '' */
.icon-note:before {
  content: '\e801';
}
/* '' */
.icon-up-thin:before {
  content: '\e88e';
}
/* '' */
.icon-ccw:before {
  content: '\e88f';
}
/* '' */
.icon-cw:before {
  content: '\e890';
}
/* '' */
.icon-arrows-ccw:before {
  content: '\e891';
}
/* '' */
.icon-level-down:before {
  content: '\e892';
}
/* '' */
.icon-level-up:before {
  content: '\e893';
}
/* '' */
.icon-shuffle:before {
  content: '\e894';
}
/* '' */
.icon-loop:before {
  content: '\e895';
}
/* '' */
.icon-switch:before {
  content: '\e896';
}
/* '' */
.icon-play:before {
  content: '\e897';
}
/* '' */
.icon-stop:before {
  content: '\e898';
}
/* '' */
.icon-pause:before {
  content: '\e899';
}
/* '' */
.icon-record:before {
  content: '\e89a';
}
/* '' */
.icon-to-end:before {
  content: '\e89f';
}
/* '' */
.icon-to-start:before {
  content: '\e89b';
}
/* '' */
.icon-fast-forward:before {
  content: '\e89c';
}
/* '' */
.icon-fast-backward:before {
  content: '\e89d';
}
/* '' */
.icon-progress-0:before {
  content: '\e89e';
}
/* '' */
.icon-progress-1:before {
  content: '\e8c6';
}
/* '' */
.icon-progress-2:before {
  content: '\e8c5';
}
/* '' */
.icon-progress-3:before {
  content: '\e8c2';
}
/* '' */
.icon-target:before {
  content: '\e8c1';
}
/* '' */
.icon-palette:before {
  content: '\e8be';
}
/* '' */
.icon-list:before {
  content: '\e8bd';
}
/* '' */
.icon-list-add:before {
  content: '\e8ba';
}
/* '' */
.icon-signal:before {
  content: '\e8b9';
}
/* '' */
.icon-trophy:before {
  content: '\e8b6';
}
/* '' */
.icon-battery:before {
  content: '\e8b5';
}
/* '' */
.icon-back-in-time:before {
  content: '\e8b4';
}
/* '' */
.icon-monitor:before {
  content: '\e8b0';
}
/* '' */
.icon-mobile:before {
  content: '\e8af';
}
/* '' */
.icon-network:before {
  content: '\e8a5';
}
/* '' */
.icon-cd:before {
  content: '\e8a4';
}
/* '' */
.icon-inbox:before {
  content: '\e8a3';
}
/* '' */
.icon-install:before {
  content: '\e8a2';
}
/* '' */
.icon-globe:before {
  content: '\e8a1';
}
/* '' */
.icon-cloud:before {
  content: '\e8a6';
}
/* '' */
.icon-cloud-thunder:before {
  content: '\e8a0';
}
/* '' */
.icon-flash:before {
  content: '\e8c7';
}
/* '' */
.icon-moon:before {
  content: '\e8c4';
}
/* '' */
.icon-flight:before {
  content: '\e8c3';
}
/* '' */
.icon-paper-plane:before {
  content: '\e8c0';
}
/* '' */
.icon-leaf:before {
  content: '\e8bf';
}
/* '' */
.icon-lifebuoy:before {
  content: '\e8bc';
}
/* '' */
.icon-mouse:before {
  content: '\e8bb';
}
/* '' */
.icon-briefcase:before {
  content: '\e8b8';
}
/* '' */
.icon-suitcase:before {
  content: '\e8b7';
}
/* '' */
.icon-dot:before {
  content: '\e8b3';
}
/* '' */
.icon-dot-2:before {
  content: '\e8b2';
}
/* '' */
.icon-dot-3:before {
  content: '\e8b1';
}
/* '' */
.icon-brush:before {
  content: '\e8ae';
}
/* '' */
.icon-magnet:before {
  content: '\e8ad';
}
/* '' */
.icon-infinity:before {
  content: '\e8ac';
}
/* '' */
.icon-erase:before {
  content: '\e8ab';
}
/* '' */
.icon-chart-pie:before {
  content: '\e8aa';
}
/* '' */
.icon-chart-line:before {
  content: '\e8a9';
}
/* '' */
.icon-chart-bar:before {
  content: '\e8a8';
}
/* '' */
.icon-chart-area:before {
  content: '\e8a7';
}
/* '' */
.icon-tape:before {
  content: '\e8c8';
}
/* '' */
.icon-graduation-cap:before {
  content: '\e8c9';
}
/* '' */
.icon-language:before {
  content: '\e8cb';
}
/* '' */
.icon-ticket:before {
  content: '\e8ca';
}
/* '' */
.icon-water:before {
  content: '\e8cc';
}
/* '' */
.icon-droplet:before {
  content: '\e8cd';
}
/* '' */
.icon-air:before {
  content: '\e8d2';
}
/* '' */
.icon-credit-card:before {
  content: '\e8ce';
}
/* '' */
.icon-floppy:before {
  content: '\e8cf';
}
/* '' */
.icon-clipboard:before {
  content: '\e8d0';
}
/* '' */
.icon-megaphone:before {
  content: '\e8d1';
}
/* '' */
.icon-database:before {
  content: '\e8d4';
}
/* '' */
.icon-drive:before {
  content: '\e8d3';
}
/* '' */
.icon-bucket:before {
  content: '\e8d5';
}
/* '' */
.icon-thermometer:before {
  content: '\e8d6';
}
/* '' */
.icon-key:before {
  content: '\e8d7';
}
/* '' */
.icon-flow-cascade:before {
  content: '\e8da';
}
/* '' */
.icon-flow-branch:before {
  content: '\e8d8';
}
/* '' */
.icon-flow-tree:before {
  content: '\e8d9';
}
/* '' */
.icon-flow-line:before {
  content: '\e8db';
}
/* '' */
.icon-flow-parallel:before {
  content: '\e8ef';
}
/* '' */
.icon-rocket:before {
  content: '\e8ee';
}
/* '' */
.icon-gauge:before {
  content: '\e8ed';
}
/* '' */
.icon-traffic-cone:before {
  content: '\e8ec';
}
/* '' */
.icon-cc:before {
  content: '\e8eb';
}
/* '' */
.icon-cc-by:before {
  content: '\e8ea';
}
/* '' */
.icon-cc-nc:before {
  content: '\e8e9';
}
/* '' */
.icon-cc-nc-eu:before {
  content: '\e8e8';
}
/* '' */
.icon-cc-nc-jp:before {
  content: '\e8e7';
}
/* '' */
.icon-cc-sa:before {
  content: '\e8e6';
}
/* '' */
.icon-cc-nd:before {
  content: '\e8e5';
}
/* '' */
.icon-cc-pd:before {
  content: '\e8e4';
}
/* '' */
.icon-cc-zero:before {
  content: '\e8e3';
}
/* '' */
.icon-cc-share:before {
  content: '\e8e2';
}
/* '' */
.icon-cc-remix:before {
  content: '\e8e1';
}
/* '' */
.icon-github:before {
  content: '\e8e0';
}
/* '' */
.icon-github-circled:before {
  content: '\e8df';
}
/* '' */
.icon-flickr:before {
  content: '\e8de';
}
/* '' */
.icon-flickr-circled:before {
  content: '\e8dd';
}
/* '' */
.icon-vimeo:before {
  content: '\e8dc';
}
/* '' */
.icon-vimeo-circled:before {
  content: '\e8f0';
}
/* '' */
.icon-twitter:before {
  content: '\e8f1';
}
/* '' */
.icon-twitter-circled:before {
  content: '\e8f2';
}
/* '' */
.icon-facebook:before {
  content: '\e8f3';
}
/* '' */
.icon-facebook-circled:before {
  content: '\e8f4';
}
/* '' */
.icon-facebook-squared:before {
  content: '\e8f5';
}
/* '' */
.icon-gplus:before {
  content: '\e8f6';
}
/* '' */
.icon-gplus-circled:before {
  content: '\e8f7';
}
/* '' */
.icon-pinterest:before {
  content: '\e8f8';
}
/* '' */
.icon-pinterest-circled:before {
  content: '\e8f9';
}
/* '' */
.icon-tumblr:before {
  content: '\e8fa';
}
/* '' */
.icon-tumblr-circled:before {
  content: '\e8fb';
}
/* '' */
.icon-linkedin:before {
  content: '\e8fc';
}
/* '' */
.icon-linkedin-circled:before {
  content: '\e8fd';
}
/* '' */
.icon-dribbble:before {
  content: '\e8fe';
}
/* '' */
.icon-dribbble-circled:before {
  content: '\e8ff';
}
/* '' */
.icon-stumbleupon:before {
  content: '\e900';
}
/* '' */
.icon-stumbleupon-circled:before {
  content: '\e904';
}
/* '' */
.icon-lastfm:before {
  content: '\e901';
}
/* '' */
.icon-lastfm-circled:before {
  content: '\e902';
}
/* '' */
.icon-rdio:before {
  content: '\e916';
}
/* '' */
.icon-rdio-circled:before {
  content: '\e915';
}
/* '' */
.icon-spotify:before {
  content: '\e914';
}
/* '' */
.icon-spotify-circled:before {
  content: '\e913';
}
/* '' */
.icon-qq:before {
  content: '\e912';
}
/* '' */
.icon-instagram:before {
  content: '\e911';
}
/* '' */
.icon-dropbox:before {
  content: '\e910';
}
/* '' */
.icon-evernote:before {
  content: '\e90f';
}
/* '' */
.icon-flattr:before {
  content: '\e90e';
}
/* '' */
.icon-skype:before {
  content: '\e90d';
}
/* '' */
.icon-skype-circled:before {
  content: '\e90c';
}
/* '' */
.icon-renren:before {
  content: '\e90b';
}
/* '' */
.icon-sina-weibo:before {
  content: '\e90a';
}
/* '' */
.icon-paypal:before {
  content: '\e909';
}
/* '' */
.icon-picasa:before {
  content: '\e908';
}
/* '' */
.icon-soundcloud:before {
  content: '\e907';
}
/* '' */
.icon-mixi:before {
  content: '\e906';
}
/* '' */
.icon-behance:before {
  content: '\e905';
}
/* '' */
.icon-google-circles:before {
  content: '\e903';
}
/* '' */
.icon-smashing:before {
  content: '\e917';
}
/* '' */
.icon-sweden:before {
  content: '\e918';
}
/* '' */
.icon-db-shape:before {
  content: '\e91a';
}
/* '' */
.icon-right-thin:before {
  content: '\e88d';
}
* {
  -webkit-font-smoothing: antialiased;
}
/* HEADERS */
h1,
.alpha,
h2,
.beta,
h3,
.gamma,
h4,
.delta,
h5,
.epsilon,
h6,
.zeta {
  text-transform: uppercase;
}
h4,
.delta {
  text-transform: none;
  font-weight: normal;
}
h5,
.epsilon {
  text-transform: none;
}
h1,
h2 {
  letter-spacing: -1px;
}
/* BUTTONS */
.button {
  border-radius: 0;
  text-transform: uppercase;
  min-width: 180px;
  padding-top: 5px;
  padding-bottom: 5px;
  text-align: center;
  font-weight: bold;
  text-decoration: none;
  font-size: 93%;
}
.button + .button {
  margin-left: 20px;
}
.button--magenta {
  background: #ec008c;
  color: #fff;
}
.button--magenta:hover {
  background: rgba(236, 0, 140, 0.7);
  color: #fff;
}
.button--magenta-outline {
  border: 1px solid #fff;
  background: none;
}
.button--magenta-outline:hover {
  background: #fff;
  background: rgba(255, 255, 255, 0.1);
}
.button--black {
  background: #000;
  color: #fff;
}
.button--black:hover {
  background: #000;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
}
.button--black-outline {
  border: 1px solid #000;
  background: none;
  color: #000;
}
.button--black-outline:hover {
  background: rgba(0, 0, 0, 0.3);
  color: #000;
}
.button--white {
  background: #fff;
}
.button--white:hover {
  background: #fff;
  background: rgba(255, 255, 255, 0.8);
}
.button--white-outline {
  border: 1px solid #fff;
  background: none;
  color: #fff;
}
.button--white-outline:hover {
  background: rgba(0, 0, 0, 0.1);
  color: #fff;
}
.button--blue {
  background: #003f5f;
}
.button--blue:hover {
  background: rgba(255, 255, 255, 0.8);
}
.button--blue-outline {
  border: 1px solid #003f5f;
  background: none;
  color: #003f5f;
}
.button--blue-outline:hover {
  background: rgba(0, 0, 0, 0.1);
  color: #003f5f;
}
/* INLINE LINKS */
a {
  text-decoration: underline;
}
a:hover {
  text-decoration: none;
}
/* LINK BUTTONS */
.link__normal {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 93%;
  text-decoration: none;
}
.link__normal:hover {
  text-decoration: underline;
}
.link__normal--magenta {
  color: #ec2d9e;
}
.body,
.main {
  *zoom: 1;
}
.body:after,
.main:after {
  clear: both;
  display: block;
  visibility: hidden;
  overflow: hidden;
  height: 0 !important;
  line-height: 0;
  font-size: xx-large;
  content: " x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x ";
}
.page {
  margin: 0 auto;
  max-width: 1200px;
  _text-align: left;
  /* wraps other template elems to set width */
  /* text-align IE5.5 */

}
/* ====== Columns ====== */
.leftCol {
  float: left;
  width: 250px;
  _margin-right: -3px;
}
.rightCol {
  float: right;
  width: 300px;
  _margin-left: -3px;
}
/* Basic helpers ==================================== */
/* ================================================== */
/* ================================================== */
/* ================================================== */
.vert-align {
  display: table;
  width: 80%;
  height: 100%;
  position: relative;
  z-index: 99999;
  margin: 0 auto;
  overflow: visible;
}
.vert-align__inner {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}
/* Buttons & icons ================================== */
/* ================================================== */
/* ================================================== */
/* ================================================== */
.watch-video {
  display: inline-block;
  vertical-align: middle;
  white-space: nowrap;
  font-family: inherit;
  font-size: 100%;
  cursor: pointer;
  border: none;
  margin: 0;
  padding-top: 0;
  padding-bottom: 0;
  line-height: 2.3;
  padding-right: 1em;
  padding-left: 1em;
  border-radius: 4px;
  border-radius: 0;
  text-transform: uppercase;
  min-width: 180px;
  padding-top: 5px;
  padding-bottom: 5px;
  text-align: center;
  font-weight: bold;
  text-decoration: none;
  font-size: 93%;
  border: 1px solid #fff;
  background: none;
  color: #fff;
}
.watch-video,
.watch-video:hover {
  text-decoration: none;
  /* [9] */

}
.watch-video:active,
.watch-video:focus {
  outline: none;
}
.watch-video:hover {
  background: rgba(0, 0, 0, 0.1);
  color: #fff;
}
.button--section-jump {
  width: 25%;
  height: 60px;
  display: none;
  text-decoration: none;
  float: left;
  text-align: center;
  font-size: 32px;
  line-height: 60px;
  color: #fff;
  border-left: 1px solid #000;
  border-left: 1px solid rgba(0, 0, 0, 0.4);
  cursor: pointer;
}
@media only screen and (min-width: 1px) and (max-width: 719px) {
  .button--section-jump {
    display: inline;
  }
}
.button--section-jump--up {
  width: 25%;
  height: 60px;
  display: none;
  text-decoration: none;
  float: left;
  text-align: center;
  font-size: 32px;
  line-height: 60px;
  color: #fff;
  border-left: 1px solid #000;
  border-left: 1px solid rgba(0, 0, 0, 0.4);
  cursor: pointer;
}
@media only screen and (min-width: 1px) and (max-width: 719px) {
  .button--section-jump--up {
    display: inline;
  }
}
.button--section-jump--down {
  width: 25%;
  height: 60px;
  display: none;
  text-decoration: none;
  float: left;
  text-align: center;
  font-size: 32px;
  line-height: 60px;
  color: #fff;
  border-left: 1px solid #000;
  border-left: 1px solid rgba(0, 0, 0, 0.4);
  cursor: pointer;
}
@media only screen and (min-width: 1px) and (max-width: 719px) {
  .button--section-jump--down {
    display: inline;
  }
}
/* Global =========================================== */
/* ================================================== */
/* ================================================== */
/* ================================================== */
body {
  -o-transition: background 0.5s ease-in-out;
  -moz-transition: background 0.5s ease-in-out;
  -webkit-transition: background 0.5s ease-in-out;
  transition: background 0.5s ease-in-out;
}
.bg2 {
  background: green;
}
.bg3 {
  background: orange;
}
/* Navigation ======================================= */
/* ================================================== */
/* ================================================== */
/* ================================================== */
.site-navigation {
  position: absolute;
  left: 0;
  top: 180px;
  z-index: 10;
  width: 200px;
  padding-left: 30px;
  padding-right: 30px;
}
@media only screen and (min-width: 1px) and (max-width: 719px) {
  .site-navigation {
    position: static;
    position: -webkit-sticky;
    position: -moz-sticky;
    position: -ms-sticky;
    position: -o-sticky;
    top: 0;
    width: 100%;
    height: 60px;
    padding: 0;
    white-space: nowrap;
    overflow: hidden;
    display: block;
    background: rgba(0, 0, 0, 0.6);
    opacity: 0;
    transition: opacity 0.5s;
  }
}
@media only screen and (min-width: 1px) and (max-width: 719px) {
  .site-navigation.fixed {
    opacity: 1;
  }
}
.no-touch .site-navigation.fixed {
  position: fixed;
  top: 180px;
}
@media only screen and (min-width: 1px) and (max-width: 719px) {
  .no-touch .site-navigation.fixed {
    top: 0;
  }
}
@media only screen and (min-width: 1px) and (max-width: 719px) {
  .site-navigation__logo {
    display: none;
  }
}
.site-navigation__link {
  display: block;
  font-weight: bold;
  text-decoration: none;
}
@media only screen and (min-width: 1px) and (max-width: 719px) {
  .site-navigation__link {
    color: #fff;
    opacity: 0.3;
  }
}
.site-navigation__link span {
  border-bottom: 2px solid transparent;
}
.site-navigation__link.active {
  display: block;
}
@media only screen and (min-width: 1px) and (max-width: 719px) {
  .site-navigation__link.active {
    opacity: 1;
  }
}
.site-navigation__link.active span {
  border-bottom: 2px solid #000;
}
@media only screen and (min-width: 1px) and (max-width: 719px) {
  .site-navigation__link.active span {
    border: none;
  }
}
.site-navigation__link-group {
  -webkit-transition: all 0.6s;
  transition: all 0.6s;
}
@media only screen and (min-width: 1px) and (max-width: 719px) {
  .site-navigation__link-group {
    width: 50%;
    float: left;
    height: 30px;
    padding-top: 17px;
    text-align: center;
  }
}
/* INTRO ============================================ */
/* ================================================== */
/* ================================================== */
/* ================================================== */
.intro-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  z-index: 9;
  color: #fff;
  text-align: center;
}
.intro-text h1 {
  margin: 0;
  font-size: 105px;
}
.intro-text i {
  font-family: georgia;
  font-size: 22px;
}
.videoPlayer {
  position: absolute;
  width: 100%;
  height: 100%;
  height: auto;
  width: auto;
  z-index: 2;
  top: 0;
  left: 0;
}
.section--full-screen-video {
  width: 100%;
  height: 100%;
  background: #ccc;
  position: relative;
  overflow: hidden;
}
.videoPlayer__cover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url("http://andershede.com/wp-content/uploads/2014/08/NorthSide.svg");
  z-index: 1;
  background-size: cover;
  opacity: 0.4;
}
.arrow-down {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  z-index: 1;
  opacity: 0.4;
  cursor: pointer;
}
@media only screen and (min-width: 1px) and (max-width: 719px) {
  #mainVideo {
    display: none;
  }
}
/* Content sections ================================= */
/* ================================================== */
/* ================================================== */
/* ================================================== */
.wrapper {
  position: relative;
}
.page-section {
  padding: 0 10% 0 200px;
  position: relative;
}
@media only screen and (min-width: 1px) and (max-width: 719px) {
  .page-section {
    padding: 0 20px 80px;
    max-width: 600px;
    margin: 0 auto;
  }
}
.page-section--footer {
  height: 800px;
  background: #000;
  color: #fff;
}
.section--small {
  text-align: center;
  font-family: georgia;
  padding: 80px 0 0;
  font-size: 33px;
  line-height: 130%;
}
@media only screen and (min-width: 1px) and (max-width: 719px) {
  .section--small {
    padding: 40px 0;
    font-size: 22px;
  }
}
.page-section__header {
  float: left;
  width: 28%;
  padding-top: 180px;
  opacity: 0;
  position: fixed;
  top: 0;
  transition: opacity 0.4s;
  z-index: 2;
}
.page-section.active .page-section__header {
  opacity: 1;
}
.page-section.static .page-section__header {
  position: absolute;
  opacity: 1;
}
.page-section.static.active .page-section__header {
  position: fixed;
  opacity: 1;
}
@media only screen and (min-width: 1px) and (max-width: 719px) {
  .page-section__header {
    float: none;
    width: 100%;
    position: relative !important;
    padding: 0;
    opacity: 1;
  }
}
.page-section__header h2 {
  line-height: 44px;
}
.page-section__header__body {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 20px;
}
.page-section__body {
  float: right;
  width: 50%;
  padding-top: 180px;
  padding-bottom: 180px;
  opacity: 0;
  transition: opacity 0.4s;
  position: relative;
  z-index: 2;
}
.first.static .page-section__body {
  opacity: 1;
}
.active .page-section__body {
  opacity: 1;
}
@media only screen and (min-width: 1px) and (max-width: 719px) {
  .page-section__body {
    float: none;
    width: 100%;
    padding: 0;
    opacity: 1;
  }
}
.page-section--form .page-section__body {
  opacity: 1;
  padding-top: 0;
  padding-bottom: 240px;
  min-height: 800px;
}
.bg-image {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: block;
  background-repeat: no-repeat;
  background-position: center center;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=" 0 ")";
  filter: alpha(opacity=0);
  -o-opacity: 0;
  -ms-opacity: 0;
  -webkit-opacity: 0;
  opacity: 0;
  -o-transition: opacity .3s linear;
  -moz-transition: opacity .3s linear;
  -webkit-transition: opacity .3s linear;
  transition: opacity .3s linear;
  background: url("http://www.ef.com/Campaign/2014/summeranza/img/bg-getticket.jpg") no-repeat;
  background-size: cover;
}
.bg4 .bg-image {
  opacity: 1;
}
/* TEMP FORM FIXES ================================== */
/* ================================================== */
/* ================================================== */
/* ================================================== */
fieldset {
  border: none;
}
input[type="text"],
input[type="email"],
select {
  width: 100%;
  background: none;
  border: none;
  border-bottom: 2px solid #ccc;
  outline: none;
  box-shadow: none;
  font-size: 32px;
  -webkit-appearance: none;
  -webkit-border-radius: 0px;
  min-height: 50px;
  color: #aaa;
  font-family: Georgia;
  font-style: italic;
}
.button--submit {
  display: inline-block;
  vertical-align: middle;
  white-space: nowrap;
  font-family: inherit;
  font-size: 100%;
  cursor: pointer;
  border: none;
  margin: 0;
  padding-top: 0;
  padding-bottom: 0;
  line-height: 2.3;
  padding-right: 1em;
  padding-left: 1em;
  border-radius: 4px;
  border-radius: 0;
  text-transform: uppercase;
  min-width: 180px;
  padding-top: 5px;
  padding-bottom: 5px;
  text-align: center;
  font-weight: bold;
  text-decoration: none;
  font-size: 93%;
  background: #ec008c;
  color: #fff;
  width: 100%;
}
.button--submit,
.button--submit:hover {
  text-decoration: none;
  /* [9] */

}
.button--submit:active,
.button--submit:focus {
  outline: none;
}
.button--submit:hover {
  background: rgba(236, 0, 140, 0.7);
  color: #fff;
}
